@import "functions";
@import "variables";
@import "mixins";
@import "reset";
@import "nav";
@import "content";
@import "footer";

* {
  // outline: 1px solid #f00;
}
html {
  color: map-get($color, default);
}
a {
  text-decoration: none;
}
.wrap {
  width: calc(100% - (15px * 2));
  margin: 0 auto;
  padding: 0 15px;
  @media (min-width: 576px) {
    max-width: 576px;
  }
  @media (min-width: 768px) {
    max-width: 768px;
  }
  @media (min-width: 992px) {
    max-width: 992px;
  }
  @media (min-width: 1200px) {
    max-width: 1200px;
  }
}
.mobile {
  display: block;
  @media (min-width: 768px) {
    display: none;
  }
}
.desktop {
  display: none;
  @media (min-width: 768px) {
    display: block;
  }
}
